#admin-bar {
    width: auto;
    box-sizing:border-box;
    top:0;
    left:0;
    margin:0;
    background: #6A230F; /*#e4e2e2;*/
    color: #6A230F; /*#404040*/ /*#e02181*/
    
    text-align:right;
   /* position:fixed; */
    font-family:Arvo, serif !important;
    font-size: 14px;
    padding: 8px 0;
    box-shadow: 0px 0px 5px #666666;
        -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.35);
        -moz-box-shadow: 1px 1px 2px rgba(0,0,0,.35);
        -o-box-shadow: 1px 1px 2px rgba(0,0,0,.35);
}

#admin-bar ul {
    font-size:1em;
    line-height: 1.5;
    margin: 0;
    
}

#admin-bar li {
    display: inline;
    width: auto;
    margin:0;
    padding:0;
    font-family:Arvo, serif !important; /* Ensure unform font family across themes.*/
    font-size:1em; /* Ensure uniform font size across themes. */
    
}

#admin-bar a {
    text-decoration:none;
    padding: 0 1em 0 0;
    font-family:Arvo, serif !important; /* Ensure unform font family across themes.*/
    font-size:1em; /* Ensure uniform font size across themes. */
    display: inline;
    border: 0;
    
}

#admin-bar li a:link,
#admin-bar li a:visited {
    color: #ccc !important;
}

#admin-bar li a:hover,
#admin-bar li a:active {
    color: #fff !important;
    border: inset 3px #6A230F; /*inset 3px #e02181*/
}
